<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="container">
    <%- include('../partials/header'); %>
    <main>
      <div class="p-5 mb-4 bg-light rounded-3 container-fluid py-5">
        <h1>Sobre mim</h1>
        <p>Oi, sou Raven Cardoso, estudante de programação Front-End</p>
      </div>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>
